
@font-face {
    font-family: "kimjungchulMyungjo";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulMyungjo/kimjungchulMyungjo-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulMyungjo/kimjungchulMyungjo-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulMyungjo/kimjungchulMyungjo-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulMyungjo/kimjungchulMyungjo-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulMyungjo/kimjungchulMyungjo-Light.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "kimjungchulMyungjo";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulMyungjo/kimjungchulMyungjo-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulMyungjo/kimjungchulMyungjo-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulMyungjo/kimjungchulMyungjo-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulMyungjo/kimjungchulMyungjo-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulMyungjo/kimjungchulMyungjo-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "kimjungchulMyungjo";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulMyungjo/kimjungchulMyungjo-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulMyungjo/kimjungchulMyungjo-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulMyungjo/kimjungchulMyungjo-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulMyungjo/kimjungchulMyungjo-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/kimjungchulMyungjo/kimjungchulMyungjo-Bold.ttf") format("truetype");
    font-display: swap;
}
.kimjungchulMyungjo {
    font-family: "kimjungchulMyungjo";
}
.kimjungchulMyungjo300 {
    font-family: "kimjungchulMyungjo";
    font-weight: 300;
}
.kimjungchulMyungjo400 {
    font-family: "kimjungchulMyungjo";
    font-weight: 400;
}
.kimjungchulMyungjo700 {
    font-family: "kimjungchulMyungjo";
    font-weight: 700;
}